<!doctype html>
<html>
  <head>
  <script>
    var token = '';
    
    function getData(){
      console.log("get data suc");
      for (var i=0; i < urls.length; i++){
         var code = 'http://api.x.co/Reporting.svc/map/66fd4551595d447394028b1d3bd3ef4b/'+ urls[i] +'/total';
         $.ajax({
           url: code,
           type: 'GET',
           dataType: 'jsonp',
           success: function(data) { showData(data); },
           error: function() { console.log('ajax Failed!'); },
           beforeSend: setHeader
         });
      }
    }
    function showData(data){
      $("<tr></tr>").append("<td>" + data + "</td>")
        .appendTo("#results");
    }
    function setHeader(xhr) {
      xhr.setRequestHeader('Authorization', token);
    }
    function saveUrl(){
      console.log("gdoc get!");
    }
  </script>
  </head>
  <body>
    <div>test</div>
    <h1>將要查詢的網址貼到第一行後按下get data即可</h1>
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AjF9zJrj_kdUdGpsaUVWVzFtY2VzZzZaY2V1dXpja2c" target="_blank">表單</a>
<!--    <iframe width='500' height='300' frameborder='0' src='https://docs.google.com/spreadsheet/ccc?key=0AjF9zJrj_kdUdGpsaUVWVzFtY2VzZzZaY2V1dXpja2c'></iframe>-->
    <table id="results"></table>
    <button onclick="getData(); //location.reload();">get data</button>
    <script type="text/javascript">
      var urls = [];
      function saveUrl(json){
        var rawtext = [];
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '1') {
            //rawtext.push(entry.content.$t.split('/'));
            var hahaha = entry.content.$t.split('/')
            for (var k=0; k < hahaha.length; k++){
              urls.push(hahaha[k]);
            }
          }
        }
        //        urls = rawtext.toString().split('/');
        console.log(urls);
      }
    </script>
    <script type="text/javascript" src="https://spreadsheets.google.com/feeds/cells/0AjF9zJrj_kdUdGpsaUVWVzFtY2VzZzZaY2V1dXpja2c/od6/public/values?alt=json-in-script&callback=saveUrl"></script>
  </body>
</html>
