<style>
  .list{
    font-size:25px;
    line-height:200%;
  }
</style>

<h1>Koubrothers MK專用工具</h1>
<ol class="list">
  <li><%= link_to "X.CO點擊查詢工具", xco_path %></li>
  <li><%= link_to 'Goo.gl點擊查詢工具', google_path %></li>
</ol>
