<!doctype html>
<html>
  <head>
    <script>
      function appendResults(text) {
        $("#results").append(text);
        $("#results").append("</br>");
        /*
        var results = document.getElementById('results');
        results.appendChild(document.createElement('P'));
        results.appendChild(document.createTextNode(text));
        */
      }

      function makeRequest() {
        for (var i=0; i < shortUrl.length; i++){
          var url = shortUrl[i];
          var request = gapi.client.urlshortener.url.get({
            'shortUrl': url,
            'projection':'FULL'
          });
          request.execute(function(response) {
            //           appendResults(response.longUrl);
            appendResults(response.analytics.allTime.shortUrlClicks);
          });
        }
      }

      function load() {
        gapi.client.setApiKey('AIzaSyDG3sqHzRcs9VRq3sTNROwYBAWzojKoloo');
        gapi.client.load('urlshortener', 'v1', makeRequest);
      }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>
  </head>
  <body>
    <div><h1>heeeeha~~~get goo.gl analytics clicks!</h1></div>
    <div id="urlName"><p>名稱</p></div>
    <hr>
    <div id="shortUrl"><p>縮網址</p></div>
    <hr>
    <div id="results"><p>點擊數</p></div>
    <script type="text/javascript">
      var shortUrl = [];
      function test(json){
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '3') {
            shortUrl.push(entry.content.$t);
          }
        }
        for (var i=0; i < shortUrl.length; i++){
          var url = shortUrl[i];
          $("#shortUrl").append(url).append("</br>");
        }
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '2') {
            var name = entry.content.$t
            $("#urlName").append(name).append("</br>");
          }
        }
      }
    </script>
    <script type="text/javascript" src="https://spreadsheets.google.com/feeds/cells/0AjF9zJrj_kdUdGZUMldZNnFpallmaWNxazZobExSS1E/od6/public/values?alt=json-in-script&callback=test"></script>

  </body>
</html>