<!doctype html>
<html>
  <head>
    <script>

      function appendResults(text) {
        $("<tr></tr>").append("<td>" + text.clicks + "</td>")
        .appendTo("#results");
        /*
        $("#results").append(text);
        $("#results").append("</br>");
        */
        /*
        var results = document.getElementById('results');
        results.appendChild(document.createElement('P'));
        results.appendChild(document.createTextNode(text));
        */
      }
      function makeRequest() {
        var promises = [];
        for (var i=0; i < shortUrl.length; i++){
          var dfd = new jQuery.Deferred;
          var url = shortUrl[i];
          var request = gapi.client.urlshortener.url.get({
            'shortUrl': url,
            'projection':'FULL',
          });
          request.execute(dfd.resolve);
          /*
          request.execute(function(response) {
            dfd.resolve(response);      
          });
          */
          promises.push(dfd.promise());
        }
        //console.log(promises);
        $.when.apply($, promises).done(function(){
          promises = undefined;
          //console.log("here yougo");
          //console.log(arguments.length);
          //console.log(arguments);
          for(var i=0; i < arguments.length; i++){
            var response = arguments[i][0];
            if (!response.code){
            var result = {
              short: response.id,
              clicks: response.analytics.allTime.shortUrlClicks
            };
            appendResults(result);
            }
          }
        });
        console.log("done");
        $("#loading").html("<p>資料已撈完<p>");
          /*
          request.execute(function(response) {
            console.log(response); //順序問題出在這
            var result = {
              short: response.id,
              clicks: response.analytics.allTime.shortUrlClicks
            };
            appendResults(result, i);         
          });
          */
        // console.log(resultContents);
      }

      function load() {
        console.log("assss!!!");
        gapi.client.setApiKey('AIzaSyDG3sqHzRcs9VRq3sTNROwYBAWzojKoloo');
        gapi.client.load('urlshortener', 'v1', makeRequest);
      }
    </script>
    
  </head>
  <body>
    <div><h1>heeeeha~~~get goo.gl analytics clicks!</h1></div>
    <div>
      <h2>使用方法：</h2>
      <p>點及下方連結進入google表單，將要查的LINE訊息貼在第三行即可</p>
      <p>程式會自動抓只有縮網址的儲存格撈資料，只要確認短網址是獨立一格，前後無任何文字或符號即可</p>
      <a href="https://docs.google.com/spreadsheet/ccc?key=0AjF9zJrj_kdUdGZUMldZNnFpallmaWNxazZobExSS1E&usp=drive_web#gid=0" target="_blank">點此進入google表單</a>
    </div>
    <hr>
    <h2>結果如下：</h2>
    <p id="loading">撈資料中...</p>
    <table id="results" border="solid 1px"><th>點擊數：</th></table>
    <hr>
    <div id="shortUrl"><h2>GOOGLE表單內容</h2></div>
    <script type="text/javascript">
      var shortUrl = [];
      function test(json){
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '3') {
            shortUrl.push(entry.content.$t);
          }
        }
        for (var i=0; i < shortUrl.length; i++){
          var url = shortUrl[i];
          $("#shortUrl").append(url).append("</br>");
        }
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '2') {
            var name = entry.content.$t
            $("#urlName").append(name).append("</br>");
          }
        }
      }
    </script>
    <script type="text/javascript" src="https://spreadsheets.google.com/feeds/cells/0AjF9zJrj_kdUdGZUMldZNnFpallmaWNxazZobExSS1E/od6/public/values?alt=json-in-script&callback=test"></script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>
  </body>
</html>