<!doctype html>
<html>
  <head>
    <script>

      function appendResults(text) {
        $("<tr></tr>").append("<td>" + text.short + "</td>" + "<td>" + text.clicks + "</td>")
        .appendTo("#results");
        /*
        $("#results").append(text);
        $("#results").append("</br>");
        */
        /*
        var results = document.getElementById('results');
        results.appendChild(document.createElement('P'));
        results.appendChild(document.createTextNode(text));
        */
      }
      function makeRequest() {
        var promises = [];
        for (var i=0; i < shortUrl.length; i++){
          var dfd = new jQuery.Deferred;
          var url = shortUrl[i];
          var request = gapi.client.urlshortener.url.get({
            'shortUrl': url,
            'projection':'FULL',
          });
          request.execute(dfd.resolve);
          /*
          request.execute(function(response) {
            dfd.resolve(response);      
          });
          */
          promises.push(dfd.promise());
        }
        console.log(promises);
        $.when.apply($, promises).done(function(){
          promises = undefined;
          console.log("here yougo");
          console.log(arguments.length);
          console.log(arguments);
          for(var i=0; i < arguments.length; i++){
            var response = arguments[i][0];
            console.log("response here");
            console.log(response); //here is the problem begin
            if (!response.code){
            var result = {
              short: response.id,
              clicks: response.analytics.allTime.shortUrlClicks
            };
            appendResults(result);
            }
          }
        }); 
          
          /*
          request.execute(function(response) {
            console.log(response); //順序問題出在這
            var result = {
              short: response.id,
              clicks: response.analytics.allTime.shortUrlClicks
            };
            appendResults(result, i);         
          });
          */
        // console.log(resultContents);
      }

      function load() {
        console.log("assss!!!");
        gapi.client.setApiKey('AIzaSyDG3sqHzRcs9VRq3sTNROwYBAWzojKoloo');
        gapi.client.load('urlshortener', 'v1', makeRequest);
      }
    </script>
    
  </head>
  <body>
    <div><h1>heeeeha~~~get goo.gl analytics clicks!</h1></div>
    <div id="urlName"><p>名稱</p></div>
    <hr>
    <div id="shortUrl"><p>縮網址</p></div>
    <hr>
    <table id="results" border="solid 1px"><th>點擊數：</th></table>
    <script type="text/javascript">
      var shortUrl = [];
      function test(json){
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '3') {
            shortUrl.push(entry.content.$t);
          }
        }
        for (var i=0; i < shortUrl.length; i++){
          var url = shortUrl[i];
          $("#shortUrl").append(url).append("</br>");
        }
        for (var i=0; i < json.feed.entry.length; i++){
          var entry = json.feed.entry[i];
          if (entry.gs$cell.col == '2') {
            var name = entry.content.$t
            $("#urlName").append(name).append("</br>");
          }
        }
      }
    </script>
    <script type="text/javascript" src="https://spreadsheets.google.com/feeds/cells/0AjF9zJrj_kdUdGZUMldZNnFpallmaWNxazZobExSS1E/od6/public/values?alt=json-in-script&callback=test"></script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>
  </body>
</html>